/09SpotifyLoginSample/09SpotifyLoginSample/GoogleService-Info.plist
/10CreditCardList/Pods/
/10CreditCardList/10CreditCardList/GoogleService-Info.plist
/11Notice/11Notice/GoogleService-Info.plist
/11Notice/Pods/
/13PushNotification/Pods
/13PushNotification/13PushNotification/GoogleService-Info.plist
/14NetflixStyleSampleApp/Pods